*.sdf
*.suo
/Obj/
/Debug/
/Bin/
*.opensdf
*.bat
.vs/
*.zip
*.filters
*.user
MoebiusRegistration.x64/
MoebiusRegistration.x64.lib/
Parameterization/x64/
Register/x64/
SOFT1.0/x64/
SphereMap/x64/
x64/
Backup.*